@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

:root {
  --color-green-primary: #13a458;
  --color-green-secondary: #71ca9b;
  --color-orange-primary: #fa883a;
  --color-orange-secondary: #f9813a;
  --color-orange-light: #fee6d8;
}
html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.contact-wrapper {
  background-image: url("https://www.kotakode.com/static/media/telegramBG.26676839.svg");
}
